{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load cart %}
{% load custom_filter %}


<div class="container-fluid mt-3">

	<div class="row">

		<div class=" profile-left col-lg-2">


			<p class="name">Hello,Arafat Hossain</p>
			<hr>


		    <div class="personal-info ">
				<p><h3>Manage My Account</h3></p>
				<hr>
				<p><a href="">My Profile</a></p>
				<p><a href="">My Address Book</a></p>
				<p><a href="">My Payment Options</a></p>
				<p><a href="">Vouchers</a></p>

			</div>
			
		

			

			<div class="order-checking">
				<h3>My Orders</h3>
				<hr>
				<p><a href="">My Orders</a></p>
				<p><a href="">My Cancellations </a></p>
			</div>
			<hr>
			
			
            <p>My Reviews</p>
            <hr>
            <p>My Wishlists and My Followed Stores</p>
            <hr>
            <p>Sell on Daraz</p>

            
           
            
          
	    </div>


		


	<div class="profile-right col-lg-10">
		<h1>Manage My Account</h1>

		<div class="row">
			<div class="personal-profile col-lg-4">
				<h3>{{ details.name}}</h3><a href="">EDIT</a>
				<p><a href="">{{ details.email }}</a></p>
                <p><a href="">Address: {{ details.adress }}</a></p>
                <p><a href="">Zone: {{ details.zone }}</a></p>
                <p><a href="">Contact: {{ details.contact }}</a></p>

				<p><a href="#"></a></p>
				
			</div>
			<div class="address-book col-lg-4" >
				<h3>Address Book</h3><a href="">EDIT</a>
				<P>default shipping address</P>
				<p>Arafat</p>
				<P>LOCATION</P>
				<p>01315167327</p>
				
			</div>
			<div class="billing-address col-lg-4" >
				<h3>Billing Address </h3><a href="">EDIT</a>
				<P>default billing address</P>
				<p>Arafat</p>
				<P>LOCATION</P>
			
				
			</div >
		
		</div>

{##}
{#		<h2>Recent Orders</h2>#}
{##}
{##}
{#		<table class="table table-striped">#}
{#		  <thead>#}
{#		    <tr>#}
{#		      <th scope="col">Recent Orders</th>#}
{#		      <th scope="col">palaced-on</th>#}
{#		      <th scope="col">Image</th>#}
{#		      <th scope="col">Total</th>#}
{#		      <th scope="col"></th>#}
{#		    </tr>#}
{#		  </thead>#}
{#		  <tbody>#}
{#		    <tr>#}
{##}
{#		      <td>356690977</td>#}
{#		      <td>11.02.2020</td>#}
{#		      <td><img src="{% static 'images/pro1.jpg' %}"></td>#}
{#		      <td>৳ 344</td>#}
{#		      <td><a href="">MANAGE</a></td>#}
{#		    </tr>#}
{#		    <tr>#}
{##}
{#		      <td>356690977</td>#}
{#		      <td>11.02.2020</td>#}
{#                <div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem">#}
{#		      <td><img class="card-img " src="{% static 'images/pro2.jpg' %}"></td>#}
{##}
{#		      <td> ৳ 344</td>#}
{#		      <td><a href="">MANAGE</a></td>#}
{#		    </tr>#}
{#		    <tr>#}
{##}
{#		      <td>356690977</td>#}
{#		      <td>11.02.2020</td>#}
{#		      <td><img src="{% static 'images/pro3.jpg' %}"></td>#}
{#		      <td>৳ 344</td>#}
{#		      <td><a href="">MANAGE</a></td>#}
{#		    </tr>#}
{#		    <tr>#}
{##}
{#		      <td>356690977</td>#}
{#		      <td>11.02.2020</td>#}
{#		      <td><img src="{% static 'images/pro5.jpg' %}"></td>#}
{#		      <td>৳ 344</td>#}
{#		      <td><a href="">MANAGE</a></td>#}
{#		    </tr>#}
{#		  </tbody>#}
{#		</table>#}
		
	</div>

</div>

</div>






    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/progressbar.js' %}"></script>


{% endblock %}