<!DOCTYPE html>

{%load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


	<title>{{ name }}</title>


	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/style.css'%}">

	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/daraz.png'%}">

</head>
<body>
<section class="top_bar">
		<div class="mid">
			<div class="mid_right">
				<ul>

				    <li><a href="#" style=" color: #e89f2b;">SAVE MORE ON APP</a></li>
				    <li><a href="/home/sell/">SELL ON DARAZ</a></li>
				    <li><a href="#">CUSTOMER CARE</a>
				    	<ul>
				    		<li><a href="#"></a>Help Center</li>
				    		<li><a href="#"></a>Order</li>
				    		<li><a href="#"></a>Shipping & Delivery</li>
				    		<li><a href="#"></a>Payment</li>
				    		<li><a href="#"></a>Returns & Refunds</li>

				    	</ul>


				    </li>
				    <li><a href="#"> TRACK MY ORDER</a></li>
				    <li><a style="background-color: #4CAF50" href="">{{ name }}</a></li>
                    <li><a style="background-color: #4CAF50" href="/home/profile/accountsettings">EDIT PROFILE</a></li>
                    <li><a style="color: #b52741" href="/home/logout">LOG OUT</a></li>




				    </li>
			  </ul>
			</div>
		</div>
	</section>


<section class="toppbar">
		<div class="miid">
			<div class="midright">
				<div class="midright_mid">

				   <div class="logo">


				   <a href="/home"><img src="{% static 'images/logo.png'%}"></a>
			       </div>

</div>
            </div>
        </div>
</section>
<div class="catagory">

	<div class="mid">




	<div class="dropdown">

        <button class="btn btn-white dropdown-toggle" type="button" data-toggle="dropdown">catagories</button>

        <ul class="dropdown-menu">



           <li class="dropdown-item"><a href="products.html">Electronics Health & Beauties</a></li>
           <li class="dropdown-item"><a href="products.html">Babies & Toys </a></li>
           <li class="dropdown-item"><a href="products.html">Groceries & Pets </a></li>
           <li class="dropdown-item"><a href="products.html"> Homes & Lifestyle</a></li>
           <li class="dropdown-item"><a href="products.html"> Women's Fashion</a></li>
           <li class="dropdown-item"><a href="products.html">TV & Men's Fashion </a></li>
           <li class="dropdown-item"><a href="products.html"> Watches & Accessories</a></li>
           <li class="dropdown-item"><a href="products.html"> Sports & Outdoor </a></li>
           <li class="dropdown-item"><a href="products.html">Auto Motive & Motorbike </a></li>
 c


        </ul>


    </div>

    <div class="right_menu">


        <li><a href="#"> Digital Sheba</a></li>
	    <li><a href="#">dMart</a></li>
	    <li><a href="#"> Global Collection</a></li>
        <li><a href="#"> DarazMall</a></li>
        <li><a href="#">Discounts</a></li>

    </div>

    </div>


<style>
	.profile-pic{
		max-width: 400px;
		max-height:400px;
		margin: 0 auto;
		--border-radius: 50%;
	}
</style>


</div>


    <div align="center" style="background-color: #abdde5">
         <h3 style="background-color: #4CAF50">Full Name: {{ name }}</h3><br>
        <img class="profile-pic" src = "{% static 'images/pro_pic.jpg' %}">
{#        <img class = "profile-pic" src="{% static {{ image_save_path }}%}">#}
{#        <img class=" profile-pic" src= "{% static {{ image_save_path }} %}" >#}
{#        {% with 'static/images/pro_pic'|add:profil_pic|add:'.jpg' as image %}#}
{#   <img src="{% static image %}"/>#}
{# {% endwith %}#}

        <h3 style = "background-color: #4CAF50">Email Adress: {{ email }}</h3>
        <h3>Address: {{ adress }}</h3><br>
        <h3>Contact: {{ contact }}</h3><br>

    </div>

</body>
</html>