{% extends 'base.html' %}
{% load custom_filter %}
{% load static %}
{% block content %}
    <br>
<div class="paymentsystem">
<br>
<br>
<br>
<br>
<br>
<br>
	<div class="container">
			<div class="row">
			<a href="/home/creditpay">
                <form method="POST">
                    {% csrf_token %}
                    <input hidden type="text" name='pro_name' value='credit card'>
                    <input hidden type="submit">
                </form>
			    <div class="card1">
			     <i class="fa fa-credit-card" style="font-size:36px"></i>
			      <p> Pay with Credit Card </p>
			  
			    </div>
			    </a>
                <a href="#">
                    <form method="POST">
                    {% csrf_token %}
                    <input hidden type="text" name='pro_name' value='bkash'>
                    <input hidden type="submit">
                </form>
			    <div class="card1">
			     <i class="fa fa-credit-card" style="font-size:36px"></i>
			      <p> Pay On Bkash</p>

			    </div>
			    </a>
			  
			<a href="/home/place_your_order">
                <form method="POST">
                    {% csrf_token %}
                    <input hidden type="text" name='pro_name' value='cash on delivery'>
                    <input hidden type="submit">
                </form>
			    <div class="card2">
			      <i class="fa fa-money" style="font-size:36px"></i>
			      <p>Cash on delivery</p>
			     
			    </div>
			    </a>

			</div>

			  
	 </div>

</div>






{% endblock %}